.App {
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  justify-content: left;
}

.top {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.middle {
  display:inline-flex;
  justify-content: center;
}

.loader{
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.footer {
 justify-content: center;
 align-items: center;
}

.footer p {
  justify-content: center;
}